
// .profileHeader {
//     height: 400px;
//     display: flex;
// }

$primary-color: rgb(31, 159, 233);
$secondary-color: rgb(144, 146, 148);

.profilePic {
    height: 200px;
    border-radius: 50%;
    // float: right;
}

.heroGradient {
    background: linear-gradient(to right, $primary-color, $secondary-color);
}

.header {
    text-align: center
}

.about-me {
    // margin: 50px 75px;
    // text-align: justify;
    // border: 3px solid $secondary-color;
    // border-radius: 25px;
}

.lower-third {
    // max-width: 75%;
    // align-content: center;
}

.main-body {
    width: 75%;
    display: flex;
    align-items: center;
}

a.nounderline {
    background-image: none;
}