
// .profileHeader {
//     height: 400px;
//     display: flex;
// }

$primary-color: #24243e;
$secondary-color: #302b63;
$tertiary-color: #0f0c29;

.profilePic {
    height: 200px;
    border-radius: 50%;
    // float: right;
}

.heroGradient {
    // background: linear-gradient(to right, $primary-color, $secondary-color);
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $primary-color, $secondary-color, $tertiary-color); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $primary-color, $secondary-color, $tertiary-color);  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-shadow: 0px 20px 20px black;
}

.header {
    text-align: center
}

.about-me {
    // margin: 50px 75px;
    // text-align: justify;
    // border: 3px solid $secondary-color;
    // border-radius: 25px;
}

.lower-third {
    // max-width: 75%;
    // align-content: center;
}

.hero-body h1,
.hero-body h2 {
    color: white;
}
.main-body {
    width: 75%;
    display: flex;
    align-items: center;
}

a.nounderline {
    background-image: none;
}