$foo: #351f39;
$bar: #726a95;
$baz: #709fb0;
$qux: #a0c1b8;

#foo {
  background-color: $foo;
}

#bar {
  background-color: $bar;
}

#baz {
  background-color: $baz;
}

#qux {
  background-color: $qux;
}
