.headerVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.profilePic {
  border-radius: 25%;
}
.wrapper {
  // display: flex;
  text-transform: none;
  // align-items: flex-start;
  width: 100%;
  height: 100%;
  margin-left: 200px;
  margin-top: 30vh;
}

.introTitle {
  color: white;
}