.navMenu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  // transform: translateY(100%);
  margin-left: 25px;
  width: 100px;
  background: linear-gradient(#fff, #fff) no-repeat center/2px 100%;
  z-index: 100;
  margin-top: 15vh;
  display: flex;
  align-items: center;
}

.navElement {
  height: 100px;
  width: 100px;
  padding: 0;
  margin: 25px 0;
  border-radius: 50%;
  background-color: black;
  line-height: 100px;
  text-align: center;
  border: 5px double white;
}

.navElement:first-of-type {
  margin-top: 0;
  height: 125px;
  width: 125px;
}

.navElement:first-of-type a {
  height: 125px;
  width: 125px;
}

.navElement:last-of-type {
  margin-bottom: 0;
}

.navElement a {
  text-transform: uppercase;
  font-weight: bold;
  background-image: none;
  text-decoration: none;
  text-shadow: none;
  color: white;
  display: block;
  width: 100px;
  height: 100px;
  margin-top: -5px;
  margin-left: -5px;
}

.currentNav {
  background-color: grey;
}

.navElement:hover {
  background-color: lightgray;
}