.navElement {
  // text-decoration: none;
  // text-shadow: none;
  display: block;
  background-image: none;
  color: black;
  background: white;
  width: 100px;
  height: 30px;
  line-height: 30px;
  margin: 5px 0 5px 5px;
  padding-left: 15px;
  text-transform: uppercase;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.navElement:hover {
  color: white;
  background-color: grey;
}
